# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# IDE / Editor settings
.vscode/
.idea/
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Python package files
*.egg-info/
dist/
build/

# Test reports
htmlcov/
.coverage
.tox/
hhh.py
